#img-2 {
  padding: 20px;
}

#heading-1 {
  padding-left: 50px;
  padding-top: 20px;
}

#heading-2 {
  padding-left: 140px;
  padding-top: 20px;
}

.jumbotron p {
  padding-top: 20px;
}

.jumbotron {
  background-image: url("../img/image-2.jpg");
  color: white;
}
#p4{
  padding-right: 165px;
}
#services{
  background-image: url("../img/image-3.jpg");
  color: white;
}
#about{
  padding-bottom: 50px;
}
#services-heading{
  padding-top: 50px;
}
#what-we-do{
  padding-top: 50px;
}
#what-we-do-images{
  padding-top: 50px;
  padding-left: 150px;
}
.thumbnail img{
  padding-right: 50px;
}
.portfolio-img{
  width: 300px;
  height: 250px;
  padding-bottom: 40px;
}
#portfolio-heading{
  padding-bottom: 20px;
  padding-top: 20px;
}