#img-2 {
  padding: 20px;
}

#heading-1 {
  padding-left: 50px;
  padding-top: 20px;
}

#heading-2 {
  padding-left: 140px;
  padding-top: 20px;
}

.jumbotron p {
  padding-top: 20px;
}

.jumbotron {
  background-image: url("../img/image-2.jpg");
}
